
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>beautiful dream</title>
    <!--https://stackoverflow.com/questions/4888377/how-to-add-a-browser-tab-icon-favicon-for-a-website-->
<link rel="stylesheet" type="text/css" href="../static/css/show.css" media="screen" />
  <link rel="icon" sizes="192x192" type="image/png" href="https://d3ptyyxy2at9ui.cloudfront.net/d2043167d727a78186d9f8e734590f5a.png">
  </head>
  <body>
    <div id="intro">
      <h2 class="title">春花秋月</h2>
      <ul>
        {% for n in my_list %}
         <li><a class="{{n.status}}">{{n.id}}{{n.buildtime}}{{n.task}}</a></li>
        {% endfor %}
      </ul>
      <p class="footer">
        by <a>yangming</a> | <a href="yang756260386@gmail.com">feedback</a> |<a href="https://github.com/oxfordyang2016/">source</a> |<a href="https://yangmingweatherapp.herokuapp.com">page</a>
      </p>
    </div>
  </bod>
</html>
