
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--https://stackoverflow.com/questions/4888377/how-to-add-a-browser-tab-icon-favicon-for-a-website-->
    <link rel="icon" sizes="192x192" type="image/png" href="https://d3ptyyxy2at9ui.cloudfront.net/d2043167d727a78186d9f8e734590f5a.png">
    <title>beautiful dream</title>
  <link rel="stylesheet" type="text/css" href="../static/css/show.css" media="screen" />
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">夜深千帐灯</h2>
      <ul>
        {% for k,v in project.iteritems() %}
        <li><a class="project">{{k}}</a></li>
        {%for task in v%}
         <li><a class="{{task.status}}">{{task.id}}{{task.buildtime}}{{task.task}}</a></li>
        {% endfor %}
        {%endfor%}
      </ul>
      <p class="footer">
        by <a>yangming</a> | <a href="yang756260386@gmail.com">feedback</a> | <a href="https://github.com/oxfordyang2016/">source</a> |<a href="https://yangmingweatherapp.herokuapp.com">page</a>
      </p>
    </div>
  </bod>
</html>
